body.about {
  min-height: 1500px;

  .name-link {
    color: var(--black);
  }

  .linkedin-logo {
    margin-left: 1.5rem;
    vertical-align: bottom;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
  }

  .card {
    width: calc(50% - 15px);
    border-top: 1px solid var(--light-grey);

    h2 {
      font-size: 24px;
      letter-spacing: -0.03em;
      font-weight: 400;
    }
  }

  .card-image {
    max-width: calc(50% - 10px);
  }

  .card-details {
    display: flex;
    gap: 20px;
    height: calc(100% - 70px);

    article {
      max-width: calc(50% - 10px);

      p {
        word-wrap: break-word;
        margin-bottom: 1.5em;
        font-family: var(--editorial-font);
        line-height: 150%;
        font-size: 20px;
      }
    }
  }

  .image-placeholder {
    background-color: var(--light-grey);
    border: 1px dashed var(--black);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;

    span {
      margin: auto;
      color: var(--dark-grey);
    }
  }

  @media (max-width: 992px) {
    .content {
      flex-direction: column;
    }

    .card {
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    .card-details {
      flex-direction: column;

      .image-placeholder {
        width: 100%;
      }

      .card-image,
      article {
        max-width: 100%;
      }
    }
  }
}
