a.button.button {
  font-weight: 400;
  border-radius: 6px;
  padding: 18px 32px 17px 32px;
}

a.button-img.button-img {
  padding: 0;
  display: flex;
  align-items: center;
  border: none;

  span {
    padding: 18px 32px 17px 32px;
    border: 1px solid var(--secondary-color);
    border-radius: 6px 0 0 6px;
    border-right: none;

    transition: background-color 0.2s ease;

    &:hover {
      background-color: var(--primary-color-darker);
    }
  }

  img {
    border-radius: 0 6px 6px 0;
  }
}

.cta-primary {
  background: var(--secondary-color);
  color: var(--black);

  transition: background-color 0.2s ease, color 0.2s ease;

  &:hover {
    background: var(--tertiary-color);
    color: var(--white);
  }
}

.cta-secondary.cta-secondary {
  color: var(--white);
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);

  transition: background-color 0.2s ease;

  &:hover {
    background: var(--primary-color-darker);
    color: var(--white);
  }
}

.cta-primary-inverse {
  background: var(--primary-color);
  color: var(--white);

  transition: background-color 0.2s ease;

  &:hover {
    background: var(--tertiary-color);
  }
}

.cta-secondary-inverse {
  color: var(--black);
  background-color: var(--white);
  border: 1px solid var(--primary-color);

  transition: background-color 0.2s ease;

  &:hover {
    background: var(--light-grey);
  }
}
