body.oaq {
  .content {
    display: flex;
    gap: 30px;

    article {
      flex-basis: 50%;
      font-size: 20px;
      line-height: 150%;

      > p {
        margin-bottom: 1.5em;
      }
    }
  }

  @media (max-width: 800px) {
    .content {
      flex-direction: column;
      gap: 0;
    }

    .ladder-image {
      display: none;
    }
  }

  details {
    background: var(--secondary-color-66);
    margin-bottom: 10px;
    padding: 20px 30px;

    summary {
      list-style: none;
      cursor: pointer;
      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      display: flex;
      justify-content: space-between;
    }

    summary .toggle::after {
      content: "＋";
      float: right;
      font-weight: 400;
    }
  }

  details[open] .toggle::after {
    content: "－";
  }

  details[open] summary {
    margin-bottom: 20px;
  }

  details p {
    font-family: var(--editorial-font);
    line-height: 150%;
    margin-bottom: 1.5em;
  }

  details p:last-child {
    margin-bottom: 0;
  }
}
